@{
    ViewBag.Title = "Cart";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <p>hey cart</p>
    </body>
</html>
